<div class="sidebar-brand">
    <a href="/" class="sidebar-brand-link">
        <img src="favicon.svg" alt="SocialVideotor" class="sidebar-logo" />
        <span class="sidebar-brand-name">
            <span class="brand-social">Social</span><span class="brand-videotor">Videotor</span>
        </span>
    </a>
</div>

<FluentNavMenu Width="250" Title="SocialVideotor">
    <FluentNavLink Href="/" IconStart="@(new Icons.Regular.Size20.Home())" Match="NavLinkMatch.All">
        Dashboard
    </FluentNavLink>
    <FluentNavLink Href="/new-project" IconStart="@(new Icons.Regular.Size20.Add())">
        New Project
    </FluentNavLink>
</FluentNavMenu>

